<body>
  <div class="grid-container-house">
    <div class="welcome">weclome</div>
    <div class="to">to</div>
    <div class="my-queendom">my</div>
    <div> <%= link_to "queendom", "/home/queendom", class: "queendom" %> </div>
    <div class="monkey-video"> <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/LUf00rdL17E?controls=0"
    frameborder="0"
    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen></iframe> </div>
  </div>

</body>
