
<div class="portrait"> <%= image_tag "portrait_blue.png", alt: "monkey portrait", class: "monkey" %> </div>

 <div class="monkey-text">
   It is the follow-up of the claim to <br>
    <b class="asgood">"do as good as possible”</b>. <br>
    To make a repetition as good as possible is interesting <br>
    as a reference and questioning of specific artistic demands - <br>
    such as skill, excellence, virtuosity, perfection etc. <br>
    They point to the conditions under which artistic products are created - <br>
    the monkeys, the artists who are exhibited, depicted or even the self-portraying artists.
    </div>
